<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Job Application Form</title>
    </head>
        <body>
            <h1>Job Application Form</h1>
            <form>
                <div>
                    <label for="first name">First Name:</label>
                    <input type="text" id="first name" name="first name" required>
                </div>
                <div>
                    <label for="last name">Last Name:</label>
                    <input type="text" id="last name" name="last name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="date">Available Start Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <div>
                    <label> Current Occupation</label>
                    <br>
                    <div id="occupation">
                        <input type="radio" id="employed" name="occupation">
                        <label for="employed">Employed </label>

                        <input type="radio" id="unemployed" name="occupation">
                        <label for="unemployed">Unemployed </label>

                        <input type="radio" id="self-employed" name="occupation">
                        <label for="self-employed">Self-Employed </label>

                        <input type="radio" id="student" name="occupation">
                        <label for="student">Student </label>
                    </div>
                </div>
                <button>Submit</button>
            </form>
        </body>
</html>